/* Reset simple */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to bottom, #d0f0c0, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #ffffffcc;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    max-width: 400px;
    width: 90%;
}

h1 {
    text-align: center;
    color: #2e7d32;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #33691e;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #a5d6a7;
    font-size: 1rem;
}

input:focus, select:focus {
    outline: none;
    border-color: #66bb6a;
    box-shadow: 0 0 5px #81c784;
}

.primary-btn {
    width: 100%;
    padding: 12px;
    background-color: #43a047;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.primary-btn:hover {
    background-color: #388e3c;
}

.note {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
    text-align: center;
}

.secondary-btn {
    display: block;
    padding: 8px 18px;
    background-color: #4e9752;
    color: white;
    font-size: 0.95rem;
    border: none;
    border-radius: 10px;
    margin: 15px auto 0;
    cursor: pointer;
    transition: 0.3s;
    width: fit-content;
}

.secondary-btn:hover {
    background-color: #4e9752;
}


.range-line {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}

.range-line input {
    width: 48%;
}